body {
	background-color: #ffffff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
	text-align: left;
}

#content {
	padding-inline: 5.2rem;
	margin-top: 4rem;
	text-align: justify;
	color: black;
}

h1 {
	padding-top: 2rem;
	padding-bottom: 0.3rem;
	color:rgb(130, 40, 40);
	text-align: center;
	font-size: 1.5rem;
}

#nav-bottom {
	position: fixed;
 	left: 0;
	bottom: 0;
	width: 100%;
}

#nav-bottom ul {
	display: flex;
	justify-content: center;
	align-content: center;
}

#nav-bottom ul li a {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	font-size: 0.6rem;
}

#nav-top ul {
	position: fixed;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	left:0;
	top:0;
	min-width: 40%;
	font-size: 1.5rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:rgb(130, 40, 40);
  }
  
li {
	float: left;
  }
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.8rem;
	text-decoration: none;
  }
  
li a:hover:not(.active) {
	background-color: rgb(255, 255, 255);
	color:rgb(130, 40, 40)
  }
  
.active {
	background-color: #ffffff;
	color:rgb(130, 40, 40)
  }

#login {
	text-align: center;
}

#login_nav {
	position:absolute;
	right:0rem;
}